<!DOCTYPE html>
<html>
<head>
  <title>Continue</title>
  <link rel="stylesheet" href="/static/css/instagram.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="center">

  <div class="card" style="width:100%; max-width:360px;">
    <h2 style="text-align:center;">Continue as</h2>

    <a href="/owner/login" class="btn full" style="margin-top:20px;">
      Owner
    </a>

    <a href="/customer/login" class="btn outline full" style="margin-top:12px;">
      Customer
    </a>
  </div>

</body>
</html>