<!DOCTYPE html>
<html>
  <head>
    <title>Create Password</title>
    <link rel="stylesheet" href="/static/css/instagram.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="center">
    <form method="post" class="card" style="width: 100%; max-width: 360px">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <h2 style="text-align: center">Create Password</h2>

      <input
        type="password"
        name="password"
        placeholder="Create password"
        required
      />

      <button class="btn full">Continue</button>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, msg in messages %}
      <div class="flash-msg flash-{{ category }}">{{ msg }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </form>
  </body>
</html>
