<!DOCTYPE html>
<html>
  <head>
    <title>Verify OTP</title>
    <link rel="stylesheet" href="/static/css/instagram.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/js/otp.js" defer></script>
  </head>
  <body class="center">
    <form method="post" class="card" style="width: 100%; max-width: 360px">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <h2 style="text-align: center">Verify OTP</h2>

      <input type="text" name="otp" placeholder="Enter 6-digit OTP" required />

      <p class="small" style="text-align: center">
        Resend OTP in <span id="timer">120</span>s
      </p>

      <button class="btn full">Verify</button>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, msg in messages %}
      <div class="flash-msg flash-{{ category }}">{{ msg }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </form>
  </body>
</html>
